//* FONTS
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Merienda:wght@700&family=Montserrat+Alternates:wght@300&family=Quicksand&display=swap');

$font-nav-title: 'Dancing Script';
$font-city: 'Montserrat Alternates';
$font-description: 'Quicksand';
$font-location: 'Merienda';
$font-link: #918E9B;

//* THEMES
$bg-nav: #F55A5A;
$line-break: #f1f5f9;
$btn-border: green;
