//* FONTS
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Dancing+Script&family=Quicksand&display=swap');

$font-title: 'Amatic SC';
$font-city: 'Dancing Script';
$font-main: 'Quicksand';

$bg-nav: #F55A5A;
