//* FONTS
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Merienda:wght@700&family=Montserrat+Alternates:wght@300&family=Quicksand&display=swap');

$font-nav-title: 'Dancing Script';
$font-city: 'Montserrat Alternates';
$font-description: 'Quicksand';
$font-location: 'Merienda';
$font-link: #918E9B;

//* THEMES
$bg-nav: #e11d48;
$bg-linear-gradient: linear-gradient(45deg,
  hsl(240deg 100% 20%) 0%,
  hsl(289deg 100% 21%) 11%,
  hsl(315deg 100% 27%) 22%,
  hsl(329deg 100% 36%) 33%,
  hsl(337deg 100% 43%) 44%,
  hsl(357deg 91% 59%) 56%,
  hsl(17deg 100% 59%) 67%,
  hsl(34deg 100% 53%) 78%,
  hsl(45deg 100% 50%) 89%,
  hsl(55deg 100% 50%) 100%);

$line-break: #f1f5f9;
